.menu-category {
    margin-right: 0.5em;
}

.badge {
    border-radius: 10px;
    width: 100% !important;
    height: 54px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.font-bold {
    font-weight: bold;
}