<header-page>
    <div class="d-flex flex-row">
        <input type="text" class="icon-search " placeholder="Cari di Tokopedia">
        <i class="bi bi-envelope icon-header"></i>
        <i class="bi bi-bell icon-header"></i>
        <div class="position-relative">
            <i class="bi bi-cart icon-header" (click)="goToCart()"></i>
            <span class="position-absolute mark-cart translate-middle badge bg-danger">
                {{totalOrders}}
                <span class="visually-hidden">unread messages</span>
            </span>
        </div>
        <i class="bi bi-list icon-header"></i>
    </div>
</header-page>

<banner-page></banner-page>

<div class="line-gray my-4"></div>

<div class="d-flex flex-column px-3 my-5" *ngIf="productDiscount.length > 0">
    <h1>Produk yang lagi Promo</h1>
    <div class="overflow-scroll">
        <div class="d-flex ">
            <ng-container *ngFor="let pd of productDiscount">
                <div class="d-flex flex-row">
                    <product-card class="card-product-discount" [showRating]="false" [product]="pd"
                        (selectProduct)="onDetail($event)"></product-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<menu-category (selectionCategory)="onSelectCategory($event)"></menu-category>

<section>
    <div class="container ">

        <div class="d-flex flex-wrap justify-content-between w-100 px-2">
            <ng-container *ngIf="messageError === ''">
                <ng-container *ngIf="productCalatogs.length > 0">
                    <ng-container *ngFor="let product of productCalatogs">
                        <product-card class="card-product" [product]="product" (selectProduct)="onDetail($event)">
                        </product-card>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="messageError !== ''">
                <h1 class="color-primary text-center">
                    Pencarianmu '{{selectedCategory}}' sedang tidak tersedia
                </h1>
            </ng-container>
        </div>
    </div>
</section>

<footer-page>
    <div class="d-flex justify-content-between mx-3">
        <div class="d-flex flex-column">
            <i class="bi bi-play-btn text-center menu-icon"></i>
            <p class="menu-text">Feed</p>
        </div>
        <div class="d-flex flex-column">
            <i class="bi bi-bag-check text-center menu-icon"></i>
            <p class="menu-text">Official Store</p>
        </div>
        <div class="d-flex flex-column">
            <i class="bi bi-heart text-center menu-icon"></i>
            <p class="menu-text">Wishlist</p>
        </div>
        <div class="d-flex flex-column">
            <i class="bi bi-journal-text text-center menu-icon"></i>
            <p class="menu-text">Transaksi</p>
        </div>
    </div>
</footer-page>