<div class="d-flex flex-column h-auto my-3 position-relative">
    <div class="position-absolute badge-discount translate-middle" *ngIf="product.discount > 0">
        <span class="badge rounded-pill bg-danger">{{product?.discount}}%</span>
    </div>
    <img class="img-top" [src]="product.images[0]" alt="Card image cap">

    <div class="d-flex flex-column" (click)="onDetail()">
        <p class="my-2" [ngClass]="{
            'text-truncate-container': showRating,
            'text-truncate-container-one': !showRating
        }">
            {{product?.title}}
        </p>
        <span class="d-flex flex-row">
            <h6>Rp{{product?.discountPrice | number}} </h6>
            <p class="mx-1 text-decoration-line-through text-truncate" *ngIf="product.discountPrice < product.price">
                Rp{{product?.price |
                number}}</p>
        </span>
        <div class="d-flex flex-row" *ngIf="showRating">
            <i class="bi bi-star-fill icon-star"></i>
            <p class="mx-1">{{product?.feedback}}</p>
            <i class="bi bi-circle-fill icon-circle m-2"></i>
            <p class="mx-1">{{product?.sale}} terjual</p>
        </div>
        <div class="d-flex flex-row">
            <img [src]="product?.store_img !== '' ? product?.store_img: 'assets/image/pro-merchant.png' "
                class="img-merchant mt-1" alt="">
            <p class="mx-2 my-1">{{product?.store_location}}</p>
        </div>
    </div>
</div>