<!-- <div class="d-flex flex-column h-auto my-3" style="width: 48%;"> -->
<img class="img-top" src="assets/image/oli.png" alt="Card image cap">

<div class="d-flex flex-column">
    <span class="text-truncate-container my-2">
        {{item?.title}}
    </span>
    <span>
        <span>{{item?.price}} </span>
        <span>{{item?.price}}</span>
    </span>
    <div class="d-flex flex-row">
        <i class="bi bi-star-fill icon-star"></i>
        <span>{{item?.feedback}}</span>
        <i class="bi bi-circle-fill icon-circle m-2"></i>
        <span>{{item?.sale}} terjual</span>
    </div>
    <div class="d-flex flex-row">
        <img src="" alt="">
        <span>{{item?.store_location}}</span>
    </div>
</div>
<!-- </div> -->