<div class="overflow-auto pb-2" style="height: 40em;">
    <p>product-detail womsfpapfopeopfjawopfjowa
        fwajpfjapowjfaw
        gjopawjgopawjopgjwaopgjowpajgopawjogpjwaop
        rks!
        product-detail womsfpapfopeopfjawopfjowa
        fwajpfjapowjfaw
        gjoawjgopawjopgjwaopgjowpajgopawjogpjwaop
        rksproduct-detail womsfpapfopeopfjawopfjowa
        fwajpfjapowjfaw
        gjopawjgopawjopgjwaopgjowpajgopawjogpjwaop
        rks</p>
</div>

<div class="fixed-bottom bg-white">
    <div class="d-flex justify-content-between p-3">
        <div class="card-rounded p-3">
            <i class="bi bi-chat-left-text"></i>
        </div>
        <button class="btn  btn-outline-success w-100  mx-2 btn-sm">Beli Langsung</button>
        <button class="btn btn-sm btn-success w-100" (click)="addToCart()">
            <i class="bi bi-plus"></i> Keranjang
        </button>
    </div>
</div>