<div class="banner">
    <div id="carouselBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="300">
                <img class="d-block w-100" src="assets/image/banner1.jpg" alt="First slide">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img class="d-block w-100" src="assets/image/banner2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img class="d-block w-100" src="assets/image/banner3.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</div>